# Include all non-python files
recursive-include cinful/ *
recursive-exclude cinful/.tests *
recursive-exclude cinful/.pytest_cache *
recursive-exclude cinful/.snakemake *
recursive-exclude cinful/notebooks *
recursive-exclude cinful/scripts *
recursive-exclude cinful/tmp *

